/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
body {background-color: #f2f2f2;}
.navbar-default{background-color: #1d89aa;border-radius:0px;border-color:transparent;padding:20px;-webkit-box-shadow: 1px 3px 1px 1px #ababab;
box-shadow: 1px 3px 1px 1px #ababab; }
.navbar-default .navbar-brand{color: #FFFFFF;font-size: 30px;text-decoration: none;font-family:'Bree Serif'; }
.navbar-default .navbar-brand:hover{color: #fbd79a;font-size: 30px;text-decoration: none;font-family:'Bree Serif';transition: color .5s linear;}
.navbar-default .navbar-nav >li>a{color: #FFFFFF;margin-left: 10px;font-family:'Poiret One'; font-size: 20px;border:#FFFFFF solid 1px;border-radius: 10px;}
.navbar-default .navbar-nav >li>a:hover{color: #fbd79a;margin-left: 10px;font-family:'Poiret One'; font-size: 20px;border:#fbd79a solid 1px;border-radius: 10px;background-color: #0181a8;transition: color .5s linear;transition: background-color .5s linear;}
.navbar .navbar-nav{display: inline-block;float:none;vertical-align: top;}
.navbar .navbar-collapse{text-align: center;}
.row {margin-right: 0px;margin-left: 0px;}
.mavi{background-color: #1d89aa;-webkit-box-shadow: 1px 3px 1px 1px #ababab;
box-shadow: 1px 3px 1px 1px #ababab;}
.tecrube ul {list-style: none;padding: 0px;margin: 0px;}
.tecrube li {margin-bottom: 5px;line-height: 2;border-bottom: 1px solid #fbd79a;padding-bottom: 2px;}
.tecrube li:last-child{border-bottom: none;padding: 0px;}
.tecrube li a{font-size: 14px;color: white;}
.tecrube li a:hover{font-size: 14px;color: #fbd79a;}
.tecrube h6,.kimiz h6{font: 100 24px/20px 'Open Sans' sans-serif;letter-spacing: -0.05em;font-weight: 300;color: #fbd79a;padding: 0px;margin: 0px;margin-bottom: 15px; }
.font {padding: 20px 0 20 px 0;font-size: 13px;color: white;font-family: 'Open Sans',sans-serif;}
.name{margin: 0;padding: 0;color: #fbd79a;font-size: 17px;}
.kimiz ul{list-style: none;padding: 0;margin: 0;}
.kimiz li{font-size: 14px;color: white;font-family: 'Open Sans',sans-serif;}


.enson {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,00b7ea+0,00b7ea+1,00b7ea+1,e87000+100 */
background: #1d89aa; /* Old browsers */
background: -moz-linear-gradient(top, #00b7ea 0%, #00b7ea 0%, #00b7ea 1%, #00b7ea 1%, #e87000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00b7ea 0%,#00b7ea 0%,#00b7ea 1%,#00b7ea 1%,#e87000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #00b7ea 0%,#00b7ea 0%,#00b7ea 1%,#00b7ea 1%,#e87000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#e87000',GradientType=0 ); /* IE6-9 */
border:1px solid #777777;border-radius: 10px;-webkit-box-shadow: 1px 3px 1px 1px #ababab;
box-shadow: 1px 3px 1px 1px #ababab;

}

.konu_alani{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,00b7ea+0,00b7ea+1,00b7ea+1,e87000+100 */
background: #1d89aa; /* Old browsers */
background: -moz-linear-gradient(top, #00b7ea 0%, #00b7ea 0%, #00b7ea 1%, #00b7ea 1%, #e87000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00b7ea 0%,#00b7ea 0%,#00b7ea 1%,#00b7ea 1%,#e87000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #00b7ea 0%,#00b7ea 0%,#00b7ea 1%,#00b7ea 1%,#e87000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#e87000',GradientType=0 ); /* IE6-9 */
border:1px solid #777777;border-radius: 10px;-webkit-box-shadow: 1px 3px 1px 1px #ababab;
box-shadow: 1px 3px 1px 1px #ababab;

}

.devamini_oku{list-style: none;}
.devamini_oku>li>a{text-decoration: none;margin-top: -20px;font-size: 15px;border: 1px solid #fbd79a;font-family: 'PT Sans';padding: 10px;background-color: #087eb0;color:#fbd79a;float: right;margin-right: 40px;}
.devamini_oku>li>a:hover{color: #383838;background-color: white;border-color: #ffb570;transition: color .5s linear;}

.fa-calendar{color:#fbd79a;margin-left: 20px;}
.fa-calendar>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-calendar>a:hover{color: #fbd79a;}

.fa-folder-open{color:#fbd79a;margin-left: 30px;padding: 10px;}
.fa-folder-open>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-folder-open>a:hover{color: #fbd79a;}


.fa-archive{color:#fbd79a;margin-left: 20px;margin-top: 10px;margin-bottom: 20px;}
.fa-archive>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-archive>a:hover{color: #fbd79a;}


.fa-line-chart{color:#fbd79a;}
.fa-line-chart>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-line-chart>a:hover{color: #fbd79a;}


.fa-sitemap{color:#fbd79a;margin-top: 10px;}
.fa-sitemap>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-sitemap>a:hover{color: #fbd79a;}


.fa-tags{color:#fbd79a;margin-left: 30px;}
.fa-tags>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-tags>a:hover{color: #fbd79a;}


.fa-clock-o{color:#fbd79a;margin-left: 30px;}
.fa-clock-o>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-clock-o>a:hover{color: #fbd79a;}


.fa-eye{color:#fbd79a;margin-left: 30px;}
.fa-eye>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-eye>a:hover{color: #fbd79a;}


.fa-spinner{color:#fbd79a;margin-left: 30px;}
.fa-spinner>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-spinner>a:hover{color: #fbd79a;}


.fa-thumbs-up{color:#fbd79a;margin-left: 30px;}
.fa-thumbs-up>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-thumbs-up>a:hover{color: #fbd79a;}





.fa-calendar{color:#fbd79a;margin-left: 20px;}
.fa-calendar>a{text-decoration:none;  color:#f2f2f2;font-family: 'PT Sans';font-size: 16px;}
.fa-calendar>a:hover{color: #fbd79a;}



.sira{background-color: #1d89aa;padding: 5px;border: 2px solid #ff9;color: white;border-radius: 5px;font-family: 'PT Sans';-webkit-box-shadow: 1px 3px 1px 1px #ababab;
box-shadow: 1px 3px 1px 1px #ababab;margin-left: 5px;}


.sira:hover{color: #ff9;text-decoration: none;}

.konu_kisalt{list-style: none;color:white;padding-right: 10px;font-family: 'PT Sans';}


.istatistik_alani .fa-bookmark{margin-left: -20px;color: #fbd79a;}

.istatistik_alani .fa-bookmark>a{text-decoration: none;color: #f2f2f2;font-family: 'PT Sans';font-size: 16px;}

.istatistik_alani .fa-bookmark>a:hover{color: #fbd79a;}



.istatistik_alani .fa-eye{margin-left: -20px;color: #fbd79a;}

.istatistik_alani .fa-eye>a{text-decoration: none;color: #f2f2f2;font-family: 'PT Sans';font-size: 16px;}

.istatistik_alani .fa-eye>a:hover{color: #fbd79a;}

.istatistik_alani .fa-clock-o{margin-left: -20px;color: #fbd79a;}

.istatistik_alani .fa-clock-o>a{text-decoration: none;color: #f2f2f2;font-family: 'PT Sans';font-size: 16px;}

.istatistik_alani .fa-clock-o>a:hover{color: #fbd79a;}


 .fa-bar-chart{margin-left: 20px;color: #fbd79a;}

.fa-bar-chart>a{text-decoration: none;color: #f2f2f2;font-family: 'PT Sans';font-size: 16px;}

.fa-bar-chart>a:hover{color: #fbd79a;}
.icerik{background-color: #f5f5f5;}
.disicerik{background-color: #f5f5f5;border: 1px solid #999;padding: 20px;border-radius: 15px;}


#konu_adi{background-color: transparent;color: #1d89aa;list-style-type: none;font-family: 'PT Sans';font-weight: bold;margin-left: -22px;font-size: 20px;}

#konu_icerik{background-color: transparent;color:black;list-style-type: none;font-family: 'PT Sans';margin-left: -22px;}

.ck{width: 700px;}
.yonetim_menu{text-align: center;background-color: #333;height: 25px;-webkit-box-shadow: 1px 3px 1px 1px #ababab;
box-shadow: 1px 3px 1px 1px #ababab;margin-left: 5px;font-family: 'PT Sans';}
.yonetim_menu>ul>li{display: inline;text-decoration: none;list-style-type: none;padding: 20px; }

.yonetim_menu>ul>li>a{color: white;text-decoration: none;}

.yonetim_menu>ul>li>a:hover{color: #fbd79a;}

.giris {background-color: #087eb0;padding-top: 5px;padding-bottom: 5px;border: 2px solid #ff9;color: white;border-radius: 5px;-webkit-box-shadow: 1px 3px 1px 1px #ababab;
box-shadow: 1px 3px 1px 1px #ababab;}

.giris:hover{color: #fbd79a;}
.isimclasi{color: black;font-size: 20px;}
















/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
	
	
	
	
	
	
	
	
	
	
	